<html>
	<head></head>
	<body>

		<p>Bonjour
			{{user.username}}, cliquer sur ce lien pour changer votre mots de passe:
			<a href="{{route('users.resetpassword',{'token': user.token})}}">Réinitialisé mon mots de passe</a>
		</p>
	</body>
</html>
