{% extends "/layout/front.html.twig" %}

{% block content %}

	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">Mots de passe oublié</h1>

			</div>
		</div>
	</section>


	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<center>Renseigné votre addresse Email pour recevoir les instructions de réinitialisation.</center>

				<form name="login-form" method="POST" action="{{route('users.lostPassword-post')}}">


					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" id="emailLogin" aria-describedby="emailHelp" placeholder="Enter email">
					</div>
					<button type="submit" class="btn btn-primary">Réinitialisé mon mots de passe</button>
				</form>
			</div>


		</div>
	</div>

{% endblock %}
