{% extends "/layout/front.html.twig" %}

{% block content %}

	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">Changer mon mots de passe</h1>

			</div>
		</div>
	</section>


	<div class="container">
		<div class="row">
			<center>
				<div class="col-md-6">

					<form name="login-form" id="login-form" method="POST" action="{{route('users.resetpassword-post',{'token': token})}}">


						<div class="form-group">
							<label for="email">Mots de passe</label>
							<input type="password" class="form-control" name="password" id="emailLogin" aria-describedby="emailHelp">
						</div>
						<div class="form-group">
							<label for="password">Confirmer votre mots de passe</label>
							<input type="password" class="form-control" name="password1" id="password">

						</div>

						<button type="submit" class="btn btn-primary">Changer</button>
					</form>


				</div>
			</center>


		</div>
	</div>

{% endblock %}
